@mixin underline($color : rgb(0, 0, 0, 0.3)) {
	&:after {
		content: '';
		display: block;
		width: 100%;
		transform: scaleX(0);
		height: 1px;
		background-color: $color;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}

	&:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

@mixin switch($size: 0.8125rem) {
	$height: 2ex;
	$border-thickness: 2px;
	$margin: calc($height * (0.15 / 2) + $border-thickness);

	input.switch {
		display: none;

		&:disabled + label {
			cursor: not-allowed;
			opacity: 0.6;
		}
		&:checked + label:before {
			background: $main-color;
			border-color: $main-color;
		}

		&:checked + label:after {
			left: calc(($height * 2) - $margin + $border-thickness * 2);
			transform: translateX(-100%);
		}
	}

	label.switch {
		@include font(1, 100, $size);
		position: relative;
		display: inline-block;

		height: $height;

		line-height: calc($height + ($border-thickness * 2));
		text-align: center;

		padding-left: calc($height * 2.5);

		cursor: pointer;

		&:before {
			content: "";

			display: block;
			position: absolute;
			top: 0;
			left: 0;

			width: calc($height * 2);
			height: $height;

			border-radius: $height;
			border: $border-thickness solid $button-grey;

			background: $base-grey;

			transition: background 0.3s;
		}

		&:after {
			content: "";

			display: block;
			position: absolute;
			top: $margin;
			left: $margin;

			border-radius: calc(3ex * 0.85);

			background: $white;

			height: calc($height * 0.85);
			width: calc($height * 0.85);
			transition: left 0.3s, transform 0.3s, width 0.2s;

		}

		&:active:after {
			width: calc($height * 1.2);
		}
	}
}

@mixin radio() {
	&.radio{
		display: block;
		cursor: pointer;
		user-select:none;

		text-align: left;
		min-width: max-content;

		&+.radio{
			margin-top: 1rem;
		}

		input{
			display: none;

			&+span{
				display: inline-block;
				position: relative;
				padding-left: 2rem;
				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 0px;
					left: 0px;
					border-radius: 50%;
					margin-right: 5px;
					width: 16px;
					height: 16px;
					border: 1px solid hsl(0, 0%, 80%);
				}
				&:after{
					content: '';
					display: block;
					width: 10px;
					height: 10px;
					background: $main-color;
					position: absolute;
					border-radius: 50%;
					top: 4px;
					left: 4px;
					opacity: 0;
					transform: scale(0,0);
					transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
				}

				font-family: sans-serif;
				font-weight: 500;
				font-size: 0.875rem;
			}
			&:checked+span:after{
				opacity: 1;
				transform: scale(1,1);
			}
		}
	}
}
