$main-color: hsl(0, 93%, 66%);
$main-color-light: hsl(0, 93%, 76%);

$base-grey: hsl(0, 0%, 97%);
$button-grey: hsl(0, 0%, 95%);
$white: hsl(0, 0%, 100%);

@mixin truncate($lines: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin font($opacity: 0.8, $weight: 700, $size: 0.8125rem) {
	font-weight: $weight;
	font-size: $size;
	font-family: sans;
	color: rgb(0, 0, 0, $opacity);
}

@mixin button($size: 2rem) {
	@if $size != 0 {
		height: $size;
		width: $size;

		padding: calc($size / 5);
	}

	cursor: pointer;
	transition: background-color 0.2s ease-in-out;

	border: none;
	background-color: transparent;

	flex-shrink: 0;

	&:hover {
		background-color: $button-grey;
	}
}
